@use "sass/base/reset";
@import "sass/abstracts/variables";
@use "sass/components/index" as *;
body {
  font-family: $fontFamily;
  background-color: $bgColor;
  font-size: $fontSize;
  color: $fontColor;
}
