@import "./variables";
.cityCards {
  width: 30rem;
  background-color: $cardBgColor;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 3px 4px;
  .title {
    color: white;
    text-align: center;
    padding: 0.4rem;
  }
  img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    &:hover {
      filter: grayscale(100);
    }
  }
  .overview {
    color: white;
  }
}
