//***********************ARTICLE********************
//!@extend
//**************************************************
//*****************************
//! IF-ELSE

//*****************footer****************/
$dark: 4;
footer {
  p {
    @if $dark==1 {
      background-color: gray;
    } @else if $dark==2 {
      background-color: lightgreen;
    } @else {
      background-color: lightcoral;
    }
  }
  .social-icons {
    display: flex;
    height: 10rem;
    $textColor: #900000, #55004e, #0fa8a1, #121456, #64c217;
    @for $i from 1 through 5 {
      .social#{$i} {
        width: 20%;
        background-color: lighten(rgb(92, 30, 30), $i * 5);
        font-size: $i * 1rem;
        color: nth($textColor, $i);
      }
    }
  }
}
